[Unit]
Description=Django Q Cluster
After=network.target

[Service]
User=root
Group=www-data
Environment=PROJ_LIB=/usr/local/envs/fair/share/proj
Environment=CONDA_PYTHON_EXE=/usr/local/bin/python
Environment=LD_LIBRARY_PATH=:/usr/local/lib/:/usr/local/envs/fair/lib/
Environment=LC_CTYPE=C.UTF-8
Environment=CONDA_DEFAULT_ENV=fair
Environment=GDAL_DATA=/usr/local/envs/fair/share/gdal
Environment=RAMP_HOME=/home/fAIr-utilities
WorkingDirectory=/home/kshitij/fAIr/backend
ExecStart=/usr/local/envs/fair/bin/python manage.py qcluster
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
