[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
User=root
Group=www-data
EnvironmentFile=/etc/default/workers
Environment=CONDA_PREFIX=/usr/local/envs/fair
Environment=PYTHON_HOME=/usr/local/envs/fair/bin/python
WorkingDirectory=/home/kshitij/fAIr/backend
ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} worker --pool=threads --concurrency=1 --hostname=worker@fair-dev -Q ramp_training,yolo_training'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target